* {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(199, 200, 202, 0.897);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#nome {
  text-align: center;
  font-size: 28px;
  margin: 0 auto;
  padding-top: 30px;
}

.imagemcircular {
  width: 280px;
  height: 280px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  margin: 0 auto;
}

.imagemcircular img {
  width: 100%;
}

.navum{
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  margin-left: 25%;
  margin-right: 25%;
  font-size: larger;
}

.menu li {
  position: relative;
  float: left;
  text-align: center;
}

.menu li a {
  padding: 5px 10px;
  display: block;
  text-align: center;
}

.menu li a:hover {
  background-color: rgb(206, 125, 167);
  color: rgb(255, 255, 255); 
  text-shadow: 0px 0px 5px #fff; 
}

.menu li a:visited {
  background-color: rgb(228, 199, 214);
  color: rgb(124, 118, 121); 
  text-shadow: 0px 0px 5px #fff; 
}

.menu li a:link {
  background-color: rgb(219, 193, 207);
  color: rgb(179, 174, 178); 
  text-shadow: 0px 0px 5px #fff; 
}

#tituloum, #titulodois, #titulotres, #tituloquatro, #titulocinco {
  display: block;
  color: rgb(72, 77, 88);
  font-size: 2em;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1em;
}

form div+div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
  margin-left: .5em;
}

.imagensredes {
  height: 15px;
  width: 15px;
}

.foto {  
  text-align: center;
  margin: 0 auto;
}